<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'comments_analysis/styles.css' %}">
    <title>YouTube Comments Analysis</title>
</head>
<body>
    <h1>YouTube Comment Analysis</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Analyze</button>
    </form>
</body>
</html>